<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
        <!--<class name="com.nucleus.qa.testcases.InfinityTestTele">-->
		<class name="com.nucleus.qa.testcases.ExternalPortal">
		 <!--<class name="com.nucleus.qa.testcases.InfinityTest">-->
		 <!--<class name="com.nucleus.qa.testcases.SignUp">-->
		  <methods>
			  <include name="TestCase1">
			  </include>
			  <exclude name="TestCase2">
			  </exclude>
			  <exclude name="TestCase3">
			  </exclude>
			   <exclude name="TestCase4">
			  </exclude>
			   <exclude name="TestCase5">
			  </exclude>
			  <exclude name="TestCase6">
			  </exclude>
			  <exclude name="TestCase8">
			  </exclude>
			  <exclude name="TestCase9">
			  </exclude>
			  <exclude name="TestCase10">
			  </exclude>
		  </methods>
      </class>
    </classes>

  </test> <!-- Test -->
</suite> <!-- Suite -->
